@import "regles.scss";

#footer{
    @extend %width-container;
}
.footer-container{
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
    margin-bottom: 40px;

    a{
        font-size: size(14);
    }
    @media (max-width: 660px){
        flex-direction: column;
        justify-content: flex-start;

        a{
            padding-bottom: 10px;
        }
    }
}
