/*valeur de la police par default*/
#nosplantes, #mventes, #service {
  margin-left: calc((100% - 1200px) / 2);
  margin-right: calc((100% - 1200px) / 2);
}
@media all and (max-width: 1200px) {
  #nosplantes, #mventes, #service {
    margin-left: 40px;
    margin-right: 40px;
  }
}

*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", Tahoma;
}

body, html {
  scroll-behavior: smooth;
  height: 100%;
  font-size: 16px;
}

p, a {
  font-size: 1.125rem;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/*styles des titres*/
.textbold {
  color: #000;
  font-family: "Abril Fatface";
  font-size: 2.5rem;
  position: relative;
  margin-bottom: 40px;
}
.textbold::after {
  content: "";
  display: inline-block;
  width: 40px;
  height: 8px;
  position: absolute;
  background: #ADD981;
  top: 100%;
  left: 0;
}
@media (max-width: 500px) {
  .textbold {
    font-size: 1.875rem;
  }
}

/********/
/*regles pour les cards*/
.card {
  position: relative;
}
.card .cardblock {
  background: #FFFFFFDF;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  overflow: hidden;
  padding: 15px 20px 0 20px;
  transition: height ease-in-out 0.3s;
}
.card .cardblock div {
  display: flex;
  justify-content: space-between;
}
.card .text-price {
  color: #ADD981;
  font-size: 0.875rem;
}
.card .savoirplus {
  text-align: center;
  padding-top: 40px;
  opacity: 0;
  transition: opacity ease-in-out 0.3s, transform ease-in-out 0.3s 0.2s;
}
.card:hover .cardblock {
  height: 60%;
}
.card:hover .savoirplus {
  opacity: 1;
  transform: translateY(20px);
}

/*regles pour les cards*/
.header {
  background: url(../img/bg.jpg);
  background-size: cover;
  height: 100%;
  position: relative;
}
.header a, .header p {
  color: #fff;
}

.burger {
  display: none;
}

.navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 40px;
}
.navbar .logo img {
  width: 10.625rem;
}
.navbar .nav-lien a {
  margin-left: 65px;
}

.titre {
  font-size: 4.6875rem;
  font-family: "Abril Fatface";
  margin: 50px 0 60px 110px;
}

.scroll {
  margin-left: 110px;
  position: absolute;
  bottom: 40px;
  display: flex;
  align-items: center;
}
.scroll p {
  font-size: 1rem;
}
.scroll .scroll-icon {
  color: #fff;
  font-size: 25px;
  margin-left: 10px;
}

/*media*/
@media all and (max-width: 840px) {
  @keyframes anim-nav-query {
    0% {
      transform: translateY(-200px);
    }
    100% {
      transform: translateY(0px);
    }
  }
  .nav-lien {
    display: none;
  }

  /*query-nav pour le nouveau menu de navigation*/
  .query-nav {
    padding-bottom: 10px;
    display: inline-block;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 0;
    animation: anim-nav-query 0.3s ease-in-out;
  }
  .query-nav a {
    color: #000;
    font-size: 1.875rem;
    margin: 14px 0 8px 20px;
  }

  .navbar {
    justify-content: space-between;
  }
  .navbar .nav-lien a {
    margin-left: 20px;
  }

  #burger-container {
    width: 40px;
    height: 40px;
    padding: 8px;
  }

  .burger {
    display: inline-block;
    width: 40px;
    height: 4px;
    background: #fff;
    position: relative;
    z-index: 20;
  }
  .burger::before, .burger::after {
    content: "";
    display: inline-block;
    background: #fff;
    width: 40px;
    height: 4px;
    position: absolute;
    transform-origin: left;
    transition: transform ease-in-out 0.3s, background ease-in-out 0.4s;
  }
  .burger::before {
    top: -14px;
  }
  .burger::after {
    bottom: -14px;
  }

  .burger-active {
    background: transparent;
    transition: background ease-in-out 0.3s;
  }
  .burger-active::before {
    transform: rotateZ(45deg);
    background: #000;
  }
  .burger-active::after {
    transform: rotateZ(-45deg);
    background: #000;
  }
}
@media all and (max-width: 700px) {
  .titre {
    font-size: 3.125rem;
    margin: 80px 0 60px 40px;
  }

  .scroll {
    margin-left: 40px;
  }

  .navbar {
    padding: 15px 20px 40px 10px;
  }

  .navbar .logo img {
    width: 8.125rem;
  }
}
@media only screen and (max-height: 500px) {
  .titre {
    font-size: 2.5rem;
    margin: 40px 0 0 80px;
  }

  .navbar {
    padding-top: 20px;
  }

  .scroll {
    margin-left: calc(100% - 100px);
  }
}
/*valeur de la police par default*/
#nosplantes, #mventes, #service {
  margin-left: calc((100% - 1200px) / 2);
  margin-right: calc((100% - 1200px) / 2);
}
@media all and (max-width: 1200px) {
  #nosplantes, #mventes, #service {
    margin-left: 40px;
    margin-right: 40px;
  }
}

*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", Tahoma;
}

body, html {
  scroll-behavior: smooth;
  height: 100%;
  font-size: 16px;
}

p, a {
  font-size: 1.125rem;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/*styles des titres*/
.textbold {
  color: #000;
  font-family: "Abril Fatface";
  font-size: 2.5rem;
  position: relative;
  margin-bottom: 40px;
}
.textbold::after {
  content: "";
  display: inline-block;
  width: 40px;
  height: 8px;
  position: absolute;
  background: #ADD981;
  top: 100%;
  left: 0;
}
@media (max-width: 500px) {
  .textbold {
    font-size: 1.875rem;
  }
}

/********/
/*regles pour les cards*/
.card {
  position: relative;
}
.card .cardblock {
  background: #FFFFFFDF;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  overflow: hidden;
  padding: 15px 20px 0 20px;
  transition: height ease-in-out 0.3s;
}
.card .cardblock div {
  display: flex;
  justify-content: space-between;
}
.card .text-price {
  color: #ADD981;
  font-size: 0.875rem;
}
.card .savoirplus {
  text-align: center;
  padding-top: 40px;
  opacity: 0;
  transition: opacity ease-in-out 0.3s, transform ease-in-out 0.3s 0.2s;
}
.card:hover .cardblock {
  height: 60%;
}
.card:hover .savoirplus {
  opacity: 1;
  transform: translateY(20px);
}

/*regles pour les cards*/
#service {
  padding: 70px 130px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1200px) {
  #service {
    padding: 70px 20px;
  }
}
#service div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#service div p {
  text-align: center;
  margin-top: 20px;
}

.service__icon {
  color: #ADD981;
  font-size: 50px;
}

@media (max-width: 700px) {
  #service {
    flex-direction: column;
    align-items: center;
  }
  #service p {
    margin-bottom: 30px;
  }
  #service .service__icon {
    font-size: 60px;
  }
}
/*valeur de la police par default*/
#nosplantes, #mventes, #service {
  margin-left: calc((100% - 1200px) / 2);
  margin-right: calc((100% - 1200px) / 2);
}
@media all and (max-width: 1200px) {
  #nosplantes, #mventes, #service {
    margin-left: 40px;
    margin-right: 40px;
  }
}

*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", Tahoma;
}

body, html {
  scroll-behavior: smooth;
  height: 100%;
  font-size: 16px;
}

p, a {
  font-size: 1.125rem;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/*styles des titres*/
.textbold {
  color: #000;
  font-family: "Abril Fatface";
  font-size: 2.5rem;
  position: relative;
  margin-bottom: 40px;
}
.textbold::after {
  content: "";
  display: inline-block;
  width: 40px;
  height: 8px;
  position: absolute;
  background: #ADD981;
  top: 100%;
  left: 0;
}
@media (max-width: 500px) {
  .textbold {
    font-size: 1.875rem;
  }
}

/********/
/*regles pour les cards*/
.card {
  position: relative;
}
.card .cardblock {
  background: #FFFFFFDF;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  overflow: hidden;
  padding: 15px 20px 0 20px;
  transition: height ease-in-out 0.3s;
}
.card .cardblock div {
  display: flex;
  justify-content: space-between;
}
.card .text-price {
  color: #ADD981;
  font-size: 0.875rem;
}
.card .savoirplus {
  text-align: center;
  padding-top: 40px;
  opacity: 0;
  transition: opacity ease-in-out 0.3s, transform ease-in-out 0.3s 0.2s;
}
.card:hover .cardblock {
  height: 60%;
}
.card:hover .savoirplus {
  opacity: 1;
  transform: translateY(20px);
}

/*regles pour les cards*/
#mventes {
  padding-bottom: 180px;
}

.bloccard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.bloccard > .card {
  width: 300px;
  height: 450px;
  min-width: 250px;
}

.bloccard > div:nth-child(1) {
  background: url(../img/mventes/1.jpg);
  background-size: cover;
}

.bloccard > div:nth-child(2) {
  background: url(../img/mventes/2.jpg);
  background-size: cover;
}

.bloccard > div:nth-child(3) {
  background: url(../img/mventes/3.jpg);
  background-size: cover;
}

.bloccard > div:nth-child(4) {
  background: url(../img/mventes/4.jpg);
  background-size: cover;
}

@media (max-width: 696px) {
  .bloccard .card {
    margin-bottom: 20px;
  }

  #mventes {
    padding-bottom: 100px;
  }
}
/*valeur de la police par default*/
#nosplantes, #service, #mventes {
  margin-left: calc((100% - 1200px) / 2);
  margin-right: calc((100% - 1200px) / 2);
}
@media all and (max-width: 1200px) {
  #nosplantes, #service, #mventes {
    margin-left: 40px;
    margin-right: 40px;
  }
}

*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", Tahoma;
}

body, html {
  scroll-behavior: smooth;
  height: 100%;
  font-size: 16px;
}

p, a {
  font-size: 1.125rem;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/*styles des titres*/
.textbold {
  color: #000;
  font-family: "Abril Fatface";
  font-size: 2.5rem;
  position: relative;
  margin-bottom: 40px;
}
.textbold::after {
  content: "";
  display: inline-block;
  width: 40px;
  height: 8px;
  position: absolute;
  background: #ADD981;
  top: 100%;
  left: 0;
}
@media (max-width: 500px) {
  .textbold {
    font-size: 1.875rem;
  }
}

/********/
/*regles pour les cards*/
.card {
  position: relative;
}
.card .cardblock {
  background: #FFFFFFDF;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  overflow: hidden;
  padding: 15px 20px 0 20px;
  transition: height ease-in-out 0.3s;
}
.card .cardblock div {
  display: flex;
  justify-content: space-between;
}
.card .text-price {
  color: #ADD981;
  font-size: 0.875rem;
}
.card .savoirplus {
  text-align: center;
  padding-top: 40px;
  opacity: 0;
  transition: opacity ease-in-out 0.3s, transform ease-in-out 0.3s 0.2s;
}
.card:hover .cardblock {
  height: 60%;
}
.card:hover .savoirplus {
  opacity: 1;
  transform: translateY(20px);
}

/*regles pour les cards*/
.nosplantes-card-container > article {
  width: 100%;
  height: 100%;
}

.nosplantes-card-container > article:nth-child(1) {
  background: url(../img/nosplantes/1.jpg);
  background-size: cover;
  background-position: center;
}

.nosplantes-card-container > article:nth-child(2) {
  background: url(../img/nosplantes/2.jpg);
  background-size: cover;
  background-position: center;
}

.nosplantes-card-container > article:nth-child(3) {
  background: url(../img/nosplantes/3.jpg);
  background-size: cover;
  background-position: center;
}

.nosplantes-card-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 300px 300px;
  grid-row-gap: 20px;
  grid-column-gap: 20px;
}

.first-card {
  grid-row-start: 1;
  grid-row-end: 3;
}

@media (max-width: 700px) {
  .nosplantes-card-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 450px);
    grid-column-gap: 0;
  }

  .first-card {
    grid-row-start: 1;
    grid-row-end: 1;
  }

  .nosplantes-card-container > article {
    max-width: 300px;
    height: 450px;
    margin: 0 auto;
  }

  #nosplantes {
    margin-left: 40px;
    margin-right: 40px;
  }
}
/*valeur de la police par default*/
#service, #mventes, #nosplantes {
  margin-left: calc((100% - 1200px) / 2);
  margin-right: calc((100% - 1200px) / 2);
}
@media all and (max-width: 1200px) {
  #service, #mventes, #nosplantes {
    margin-left: 40px;
    margin-right: 40px;
  }
}

*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", Tahoma;
}

body, html {
  scroll-behavior: smooth;
  height: 100%;
  font-size: 16px;
}

p, a {
  font-size: 1.125rem;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/*styles des titres*/
.textbold {
  color: #000;
  font-family: "Abril Fatface";
  font-size: 2.5rem;
  position: relative;
  margin-bottom: 40px;
}
.textbold::after {
  content: "";
  display: inline-block;
  width: 40px;
  height: 8px;
  position: absolute;
  background: #ADD981;
  top: 100%;
  left: 0;
}
@media (max-width: 500px) {
  .textbold {
    font-size: 1.875rem;
  }
}

/********/
/*regles pour les cards*/
.card {
  position: relative;
}
.card .cardblock {
  background: #FFFFFFDF;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  overflow: hidden;
  padding: 15px 20px 0 20px;
  transition: height ease-in-out 0.3s;
}
.card .cardblock div {
  display: flex;
  justify-content: space-between;
}
.card .text-price {
  color: #ADD981;
  font-size: 0.875rem;
}
.card .savoirplus {
  text-align: center;
  padding-top: 40px;
  opacity: 0;
  transition: opacity ease-in-out 0.3s, transform ease-in-out 0.3s 0.2s;
}
.card:hover .cardblock {
  height: 60%;
}
.card:hover .savoirplus {
  opacity: 1;
  transform: translateY(20px);
}

/*regles pour les cards*/
